<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024865368975-lfnuun69sq80cub92a770mp3fvkrl56h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024865368975-lfnuun69sq80cub92a770mp3fvkrl56h</string>
	<key>API_KEY</key>
	<string>AIzaSyB7vkaGzU5D3xOYbdvIFwVMAyQVc-GEWIY</string>
	<key>GCM_SENDER_ID</key>
	<string>1024865368975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Bartosz-Raczka-Development.InstaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-92550</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-92550.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024865368975:ios:e29c0a388d0444a302a9fa</string>
	<key>DATABASE_URL</key>
	<string>https://instaclone-92550.firebaseio.com</string>
</dict>
</plist>